<h1>
    Feedback on post#1
</h1>
<form>
    <br><label for="rate">How would you rate this event?</label><br>
    <label for="rate">1</label>
    <input type="radio" name="rate">
    <label for="rate">2</label>
    <input type="radio" name="rate">
    <label for="rate">3</label>
    <input type="radio" name="rate">
    <label for="rate">4</label>
    <input type="radio" name="rate">
    <label for="rate">5</label>
    <input type="radio" name="rate"><br>
    <br><label for="feedback">Describe what went well in this event.</label><br>
    <br><input type="text" name="feedback"><br>
    <br><label for="negative">Describe what went poorly in this event.</label><br>
    <br><input type="text" name="negative"><br>
    <br><button (click)="onSubmit()">Submit</button>
</form>