<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <header>
        <div class="title"><h1>Fitness Friends</h1></div>
        <div class="link-disp">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="">Recent</a></li>
                    <li><a href="">Feedback</a></li>
                  </ul>
            </nav>
        </div>
        
    </header>
    <body>
        <div class="feed-rep">
            <div class="prof-pic"></div>
            <div class="post-content">2 Hour workout at the UNCW track</div>
            <div class="name">Zach Cole</div>
            <div class="date">2 hours ago</div>
            <div class="post-content"></div>
            <button class="no">X</button>
            <button class="yes">RSVP</button>
            <button class="feedback">Feedback</button>
        </div>
    </body>
